<p id="notice"><%= notice %></p>

<% if @date_app.name %>
  <p>
    <strong>Name:</strong>
    <%= @date_app.name %>
  </p>
<% end %>

<p>
  <strong>Sex:</strong>
  <%= @date_app.sex ? @date_app.sex : "Please complete you profile" %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @date_app.dislikes %>
</p>

<p>
  <strong>Age:</strong>
  <%= @date_app.age %>
</p>

<p>
  <strong>Age:</strong>
  <%= @date_app.email %>
</p>

<%= link_to 'Edit', edit_date_app_path(@date_app) %> |
<%= link_to 'Back', date_apps_path %>
